*{
    font-family: Calibri, sans-serif;
}
a{
    color: #fbfbfb;
}
h3{
    color: #c29200;
}
body{
    background:#fbfbfb;
}
.divide{
    background-color: #007acc;
    height: 10px;
    opacity: 0.5;
    border-radius: 2px;     
}
#table {

    display: grid;
    grid-template-areas:

        "about about contact"

        "about about contact"

        "about about contact";

    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 2fr 1fr;
    grid-row-gap: 1px;
    grid-column-gap: 30px;
    height: auto;
    margin: 0;
    
}
.logo{
   
    width: 150px;
}
#about{
    grid-area: about;
}
#contact{
    grid-area: contact;
}
footer{
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding:15px;
    background-color: #253140 ;
    margin-top: 20px;
}
.nav-list{
    list-style: none;
}
.nav-list li{
    font-family: sans-serif;    
}
.nav-list a{
    font-family: 'Abril Fatface', cursive;
    color:#fbfbfb;
    font-size: 20px;
}
.navbar{
    background: #253140;
    padding-top: 10px;
}
.motivation{
    width: 30em;
    font-weight: 800;
}
.standby{
    font-size: 90px;
    color: white;
}
.cright{
    float: right;
}
.foot-list{
    margin-top: 15px;
    list-style: none;
}
@media all and (max-width: 1235px) and (min-width:10px){

    h3{
        font-size: 90px;
    }
    body{
        font-size: xx-large;
    }
    .container{
        width: 100%;
    }
    #table {
        grid-template-areas:
            "about"
            "contact";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
    }
    #contact{
        padding: 10px;
    }
    #currency{
        float: left;
        margin-top: 2px;
    }
    #contact-us{
        margin-top: 0px;
        margin: 0px;
        padding: 0;
        float: right;
    }
}
